body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .9em;
}

.nav {
    display: block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px #cccccc;
    background-color: #efefef;
    width: 100%;
    height: 22px;
}

.nav-item {
    display: block;
    float: left;
    margin: 3px;
    padding: 3px;
    font-size: .8em;
}

.nav-item a:visited, .nav-item a {
    color: black;
}

.groups {
    width: 100%;
}

.group {
    display: block;
    clear: both;
    padding-top: 15px;
    height: auto;
}

.group-name {
    display: block;
    float: left;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}

.group-relays {
    display: block;
}

.relay {
    dispaly: block;
    clear: both;
    padding: 10px;
}

.relay-name {
    display: block;
    float: left;
}

.relay-state {
    display: block;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.relay-toggle {
    display: block;
    float: left;
    float: right;
}

.relay-toggle.input:submit {

}