<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/global.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <h1>CyclePi</h1>
            <div class="nav">
                <div class="nav-item"><a href="/">Control</a></div>
                <div class="nav-item"><a href="/system">System</a></div>
                <div class="nav-item"><a href="/audio">Audio</a></div>
                <div class="nav-item"><a href="/shutdown">Shutdown</a></div>
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>
