{% extends 'base.html' %}
{% block title %}CyclePi : Control{% endblock %}
{% block content %}
    <div class="groups">
        {% for group in groups %}
            <div class="group">
                <div class="group-name">{{ group.name }}</div>
                <div class="group-relays">
                    {% for relay in group.relays %}
                        <div class="relay">
                            <div class="relay-name">{{ relay.name }}</div>
                            <div class="relay-toggle"><input type="submit" class="state-toggle" value="Toggle" for="{{ relay.port }}" href="/control/{% if relay.state == "On" %}Off{% else %}On{% endif %}/{{ relay.port }}"/></div>
                            <div class="relay-state">{{ relay.state }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}